<ion-view title="{{editedTask.id ? 'Edit Task' : 'New Task'}}">
	<ion-nav-buttons side="right">
		<a class="button icon button-clear" ng-click="update()" ng-disabled="!isValid(editedTask)"><i class="icon ion-checkmark-circled" ng-show="hasChanges()"></i></a>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<label class="item item-input">
				<input type="text" placeholder="Title" ng-model="editedTask.body">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Description" ng-model="editedTask.description">
			</label>
			<ion-item class="item item-toggle">
				Complete
				<label class="toggle">
					<input type="checkbox" ng-model="editedTask.complete">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</ion-item>
			<label class="item item-input" ng-show="!task.complete && editedTask.complete">
				<textarea placeholder="Completion note" ng-model="subentity.new_completion_note"></textarea>
			</label>
			<ion-item>
				<h2>Participants</h2>
				<h3 ng-repeat="participant in editedTask.participants">{{participant.label}}</h3>
			</ion-item>
			<div class="padding" ng-show="editedTask.id">
				<button class="button button-block button-assertive" ng-click="delete()">Delete Task</button>
			</div>
		</ion-list>
	</ion-content>
</ion-view>