<ion-side-menus>
	<ion-side-menu side="left">
		<header class="bar bar-header bar-stable item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
				<input type="search" placeholder="Search" ng-model="options.search" ng-change="onFilterChange(options.search)" ng-focus="startSearch()">
			</label>
			<!--<button class="button button-clear" ng-click="clearFilter()">Cancel</button>-->
		</header>
		<ion-content class="has-header">
			<ion-list class="side-menu">
				<ion-item nav-clear menu-close ui-sref="app.home">
					Home
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.contacts.list">
					Contacts
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.account">
					My Account
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content>
</ion-side-menus>
