<ion-view title="{{editedNote.id ? 'Edit Note' : 'New Note'}}">
	<ion-nav-buttons side="right">
		<a class="button icon button-clear" ng-click="update()" ng-disabled="!isValid(editedNote)"><i class="icon ion-checkmark-circled" ng-show="hasChanges()"></i></a>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<label class="item item-input">
				<input type="text" placeholder="Title" ng-model="editedNote.body">
			</label>
			<div class="padding" ng-show="editedNote.id">
				<button class="button button-block button-assertive" ng-click="delete()">Delete Note</button>
			</div>
		</ion-list>
	</ion-content>
</ion-view>